/*8@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=PT+Sans:ital@1&display=swap');*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*html{
    font-size: 8px;
    font-family: 'PT Sans', sans-serif;
}*/
.navbar{
    display : flex;
    align-items : center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display : inline-block;
    list-style-type: none;
}
nav ul li{
    display : inline-block;
   margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555; 
}
p{
    color : #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}
body{
    font-family: 'Poppins', sans-serif;
}
.col_2{
    flex-basis: 50%;
    min-width:300px;
}
.col_2{
    max-width: 100%;
    padding: 50px 0;
}
.col_2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #8fbc8f;
    color: black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #213821;
}
.header{
    background: radial-gradient(#fff,#e6f9e7);
}
.header .row{
    margin-top: 80px;
}
.head_text {
    position: relative;
}
.aboutme_container .head_text {
    position: relative;
}
.aboutme_container .box1 {
    margin-left: 100px;
    height: 20px;
    width: 180px;
    padding: 20px;
    text-align: right;
    color: gray;
    font-size: 13px;
    border: 3px solid white;
    background-color: white;
}

.aboutme_container .square {
    position: relative;
    left: 60px;
    padding: 20px;
    text-align: justify;
    color: rgb(129, 128, 128);
    font-size: 12px;
    border: 2px solid #e5e5e5;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
}

.aboutme_container .profile {
    position: relative;
    left: 10px;
    bottom: 20px;
}

.aboutme_container b {
    font-size: 13px;
}

.aboutme_container p2 {
    color: gray;
    font-weight: bold;
    font-size: 10px;
}

.aboutme_container .description {
    position: relative;
    left: 110px;
    padding: 0%;
    bottom: 70px;
}

#nav {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

#nav li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;
}

#nav li.active {
    background-color: #f5f3f3;
}

#nav a {
    color: black;
    text-decoration: none;
}
.aboutme_container table {
    margin-left: 7%;
}

.aboutme_container h3 {
    margin-left: 7%;
    line-height: 4px;
    text-decoration: underline;
    text-decoration-color: #8fbc8f;
}
.aboutme_container p {
    color: gray;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title{
    text-align:center;
    margin:0 auto 80px;
    position: relative;
    line-height: 50px;
    color: #555;
}
.title::after{
    content: '';
    background: #8fbc8f;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h2{
    color: #213821;
    font-weight: normal;
}
h4{
    color: #213821;
    font-weight: normal;
}
.col-4 {
    flex-basis: 25%;
    padding: 15px;
    min-width: 100px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4::hover{
    transform: translateY(-5px)
}
.resume table {
    margin-left: 10%;
}
.portfolio .box1 {
    margin-left: 100px;
    height: 20px;
    width: 180px;
    padding: 20px;
    text-align: right;
    color: gray;
    font-size: 13px;
    border: 3px solid white;
    background-color: white;
}
.portfolio {
    position: relative;
}
.portfolio h4 {
    margin-left: 7%;
    line-height: 4px;
    text-decoration: underline;
    text-decoration-color: #8fbc8f;
}
.flexbox {
    display: flex;
    margin:0px;
    align-items : left;
  }
.all{
    display: flex;
    margin-left: 100px;
    height: 20px;
    width: 180px;
    padding: 20px;
    text-align: right;
    color: gray;
    font-size: 14px;
    border: 3px solid white;
    background-color: white;
    background: yellowgreen;
   
}
.media{
    display: flex;
    margin-left: 100px;
    height: 20px;
    width: 180px;
    padding: 20px;
    text-align: right;
    color: gray;
    font-size: 14px;
    border: 3px solid white;
    background-color: white;
}
  
  .illustration{
    display: flex;
    margin-left: 100px;
    height: 20px;
    width: 180px;
    padding: 20px;
    text-align: right;
    color: gray;
    font-size: 14px;
    border: 3px solid white;
    background-color: white;
}
.video{
    display: flex;
    margin-left: 100px;
    height: 20px;
    width: 180px;
    padding: 20px;
    text-align: right;
    color: gray;
    font-size: 14px;
    border: 3px solid white;
    background-color: white;
}

.colum{
    float: left;
    width:10%;
    height:10%;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}
.colum::after{
    content: "";
    clear: both;
    display:table;
}
@media screen and (max-width: 500px) {
    .colum {
      width: 100%;
    }
  }
